{{#extends "base"}}

{{#block "title"}}Home{{/block}}

{{#block "content"}}
<h1>Advanced Framework</h1>
<div>
    <a href="/products/" class="btn btn-primary btn-sm">Products</a>
    <a href="/about-us" class="btn btn-success btn-sm">About Us</a>
</div>
<div>
    <a href="/users/login" class="btn btn-primary btn-sm">Login</a>
    <a href="/users/register" class="btn btn-success btn-sm">Register</a>
</div>

{{/block}}

{{/extends}}