{{#extends "base"}}

{{#block "title"}}Home{{/block}}

{{#block "content"}}
<h1>Advanced Framework</h1>
<a href="/products/" class="btn btn-primary btn-sm">Products</a>
<a href="/about-us" class="btn btn-success btn-sm">About Us</a>
{{/block}}

{{/extends}}